In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Import Modules
from pprint import pprint
import json
from bs4 import BeautifulSoup
from urllib.parse import urlencode
import re

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import os
os.getcwd()

'/home/jovyan/work/Fraud_Detection'

In [3]:
# Import Data
data = pd.read_json('data/data.json')

In [4]:
data.head(3)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{'event_id': 787337, 'cost': 93.51, 'availabi...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA

# Create Pandas Profile Report

In [5]:
# Create Pandas Profile -> Export HTML
# from pandas_profiling import ProfileReport

# Run Profiling about Movie Metadata
# profile = ProfileReport(data, title="Fraud Data Profiling Report", explorative=True)

In [6]:
# Store Profile in data folder
# profile.to_file("data/fraud_data_profile.html")

# EDA

#### Description Feature (HTML)

In [7]:
sample = data['description'][8]

soup = BeautifulSoup(sample)

# soup

# Ended Up Dropping Description

#### Ticket_Types Feature (List[dict])

In [8]:
sample = data['ticket_types'][500]

sample

[{'event_id': 104011,
  'cost': 5.0,
  'availability': 1,
  'quantity_total': 80,
  'quantity_sold': 19}]

# Check API Data

In [33]:
from src.api_client import *

event_api = EventAPIClient()

def _call(client:object) -> pd.DataFrame:
    return client.get_data()

In [34]:
sample_call = _call(event_api)

In [32]:
# pprint(sample_call[0])

In [35]:
pd.DataFrame(sample_call)

,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,sequence_number
0,92,6,GB,GBP,0.0,"<p><img src=""webkit-fake-url://33F81254-F314-4...",curlvolution.com,1365025065,1369530000,1.365028e+09,...,348,1334952837,3,,,51.508279,0.020237,Crowne Plaza Hotel Docklands,,2459