In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Import Modules
from pprint import pprint
import json
from bs4 import BeautifulSoup
from urllib.parse import urlencode
import re

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import os
os.getcwd()

'/home/jovyan/work/Fraud_Detection'

In [3]:
# Import Data
data = pd.read_json('data/data.json')

In [4]:
data.head(3)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{'event_id': 787337, 'cost': 93.51, 'availabi...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA

# Create Pandas Profile Report

In [5]:
# Create Pandas Profile -> Export HTML
# from pandas_profiling import ProfileReport

# Run Profiling about Movie Metadata
# profile = ProfileReport(data, title="Fraud Data Profiling Report", explorative=True)

In [6]:
# Store Profile in data folder
# profile.to_file("data/fraud_data_profile.html")

# EDA

#### Description Feature (HTML)

In [7]:
sample = data['description'][8]

soup = BeautifulSoup(sample)

# soup

# Ended Up Dropping Description

#### Ticket_Types Feature (List[dict])

In [8]:
sample = data['ticket_types'][500]

sample

[{'event_id': 104011,
  'cost': 5.0,
  'availability': 1,
  'quantity_total': 80,
  'quantity_sold': 19}]

# Check API Data

In [33]:
from src.api_client import *

event_api = EventAPIClient()

def _call(client:object) -> pd.DataFrame:
    return client.get_data()

In [34]:
sample_call = _call(event_api)

In [32]:
# pprint(sample_call[0])

In [37]:
pd.DataFrame(sample_call)

,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,sequence_number
0,92,6,GB,GBP,0.0,"<p><img src=""webkit-fake-url://33F81254-F314-4...",curlvolution.com,1365025065,1369530000,1.365028e+09,...,348,1334952837,3,,,51.508279,0.020237,Crowne Plaza Hotel Docklands,,2459

In [38]:
from src.cleaner import *

,country,currency,delivery_method,email_domain,event_start,fb_published,listed,object_id,payee_name,payout_type,previous_payouts,user_age,user_type,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,US,USD,0.0,gmail.com,1265594400,0,y,527017,,,[],36,1,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,US,USD,1.0,ruf.org,1296255600,0,n,786878,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",149,3,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,US,USD,1.0,pvsd.k12.ca.us,1295713800,0,y,787337,University Preparation School,CHECK,"[{'name': 'Danielle Severn', 'created': '2010-...",214,3,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,IE,EUR,1.0,irishtabletennis.com,1360702800,0,y,885645,,ACH,"[{'name': '', 'created': '2010-11-09 01:10:15'...",889,3,None,NaN,NaN,None,None
4,US,USD,0.0,artsandbusinesscouncil.org,1297440000,1,y,1114349,Arts and Business Council or Greater Boston,CHECK,[{'name': 'Arts and Business Council or Greate...,35,3,US,42.353848,-71.044276,Fish & Richardson,MA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14332,US,USD,0.0,yahoo.com,1361232000,0,n,5456442,,,[],0,1,US,39.373780,-76.629921,Elkridge Club,MD
14333,US,USD,1.0,me.com,1365123600,0,y,5465112,"ARCS Foundation Inc., San Diego Chapter",CHECK,"[{'name': 'ARCS Foundation Inc., San Diego Cha...",1374,4,US,32.778906,-117.209791,Hilton San Diego Resort and Spa (Hilton Missio...,CA
14334,,USD,0.0,yahoo.com,1368327600,1,y,5465732,,ACH,"[{'name': '', 'created': '2013-05-16 03:26:11'...",84,4,US,30.041819,-89.957130,Fleur De Lis Ballroom NUMBER 2,LA
14335,US,USD,0.0,velvetlist.com,1360890000,0,y,5465810,,ACH,"[{'name': '', 'created': '2010-11-30 01:11:30'...",812,3,US,40.862283,-73.911363,Salsa con fuego,NY
14336,GB,GBP,0.0,gmail.com,1360740600,0,n,5492990,,ACH,[],0,1,GB,51.460131,-2.586503,massage salon private house,"Bristol, City Of"